/*generic*/
html {
    font-size: calc((1vw + 1vh + 2rem)*(1/3));
}
* {
    box-sizing: border-box;
    font-family: "Inter Tight", sans-serif;
    margin: 0;
    padding: 0;
}
body {
    background: black fixed;
    color: white;
    animation-name: fadeIn;
    animation-duration: 2s;
}
@keyframes fadeIn {
    from {opacity: 25%;}
    to {opacity: 100%;} 
}

/*about*/
#about {
    display: flex;
    justify-content: space-around;
    padding: 2em;

    background-image: url("res/waves.png");
    background-color: rgb(25, 25, 25);
    background-size: contain;
    background-position: center;
    animation: scroll 2s;
}
#container h1 {
    font-size: 3em;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-shadow: 0 0 2px black, 0 0 5px white;
    border-right: 5px solid;
    animation: typing 1s steps(16), cursor .4s step-end infinite alternate;
}
@keyframes cursor {
    50% {border-color: transparent}
}
@keyframes typing {
    from {width: 0}
}
@keyframes scroll {
    from {margin-left: -10%}
    to {margin-left: 0}
}

/*social*/
#social {
    padding: 0.5em;
    display: flex;
    justify-content: space-evenly;
    background-image: linear-gradient(45deg, rgba(0, 0, 0, 0) 0%, rgba(100, 100, 100, 1) 50%, rgba(0, 0, 0, 0) 100%)
}
#social a {
    animation: scroll-right 2s;
}
#social img {
    width: 5em;
    transition: 0.5s ease-out;
}
#social img:hover {
    transform: scale(1.1);
}

@keyframes scroll-right {
    from {margin-right: -10%}
    to {margin-right: 0}
}

/*projects*/
#projects {
    animation: scroll-bottom 2s;
    background-color: black;
}

.proj {
    padding: 0.5em;
    margin: 1em;
    display: flex;
    flex-wrap: wrap;
    gap: 0.5em;
    line-height: 200%;
    font-size: 1.5em;

    background-color: rgb(10, 10, 10);
    background-image: url("res/brushes.png");
    background-size: cover;
    background-position: center;
    border-radius: 0.5em;
    border-style: solid;
    border-color: rgb(25, 25, 25);
    transition: 0.5s;
    
}
.proj:hover {
    background-color: rgb(25, 25, 25);
}
.proj a {
    color: white;
}
.proj h1 {
    font-size: 1.5em;
    text-align: center;
    margin-bottom: 0.5em;
}
.proj-details {
    flex-basis: 60%;
    flex-grow: 1;
}
.proj-img {
    flex-basis: 35%;
    flex-grow: 1;
    display: flex;
    
}
.proj-img img{
    height: auto;
    width: 100%;
    align-self: center;
}

@keyframes scroll-bottom {
    from {margin-top: 10%}
    to {margin-top: 0}
}
@media screen and (max-width: 1000px) {
    .proj-details {
        flex-basis: 100%;
    }
    .proj-img {
        flex-basis: 100%;
    }
}

@media screen and (max-width: 500px) {
    #container h1 {
        font-size: 2.5em;
    }
    .proj {
        line-height: 125%;
        font-size: 1.25em;
    }
    #social img {
        width: 4em;
    }
}