/*generic*/
body {
    color: white;
    background: black fixed;
    font-size: calc(1vw + 0.5vh);
    font-family: "Lucida Console", "Courier New", monospace;
}
ul {
    list-style: none;
}

/*navigation*/
nav {
    position: fixed;
    width: 100vw;
    top: 0;
}
#nav-list {
    display: flex;
    gap: 5em;
    background-color: black;
    margin: 0;
    padding: 0;
}
#nav-list li {
    min-width: 0;
}
#nav-list a {
    position: relative;
    color: grey;
    text-decoration: none;
}
#nav-list a:after{
    content: "";
    position: absolute;
    background-color: red;
    height: 3px;
    width: 0;
    left: 0px;
    bottom: -5px;
}
#nav-list a:hover:after{
    width: 100%;
    transition: 0.3s;
}
#nav-list a:hover{
    color: white;
}
#logo {
    margin-left: 1em;
}

/*about*/
#about {
    background-image: linear-gradient(black, rgb(50, 0, 0));
    margin-top: calc(2.5vw + 2.5vh);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
#about-greeting {
    margin-left: 5vw;
    display: flex;
    padding-bottom: 0;
    padding-top: 0;
}
#about-greeting img {
    height: auto;
    width: calc(20vw + 10vh);
}
#about-hi {
    font-size: 5em;
    margin-bottom: 1vh;
}
#about-name {
    margin-left: 5vw;
}
#about-me {
    margin-top: 5vw;
    margin-left: 5vw;
    flex-basis: 40vw;
    flex-grow: 1;
    font-size: 1.5em;
}

/*projects*/
#projects-title {
    background-color: rgb(50, 0, 0);
    margin: 0;
    padding: 0;
    border-top-style: dashed;
    border-bottom-style: dashed;
    border-color: black;
}
#projects-title h1 {
    margin: 0;
    padding-top: calc(1vw + 1vh);
    padding-bottom: calc(1vw + 1vh);
    text-align: center;
    font-size: 3em;
}
#projects {
    background-image: linear-gradient(rgb(50, 0, 0), black);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.projects-left {
    flex-basis: 50vw;
    flex-grow: 1;
    padding-left: 2vw;
}
.projects-left h1 {
    text-decoration: underline;
    text-decoration-color: white;
}
.projects-left p {
    font-size: 1.5em;
    color: rgb(200, 200, 200);
}
.projects-right {
    flex-grow: 1;
    flex-basis: 45vw;
}
.projects-right h1 {
    text-align: center;
    color: red;
    text-decoration: underline;
}
.projects-right img {
    height: auto;
    display: block;
    margin: auto;
    width: 90%;
}