/*generic*/
body {
    background: rgb(25, 25, 25) fixed;
    color: white;
    font-size: calc(1vw + 0.5vh + 0.75rem);
    font-family: "Inter Tight", sans-serif;
    margin: 0;
    animation-name: fadeIn;
    animation-duration: 2s;
}
@keyframes fadeIn {
    from {opacity: 25%;}
    to {opacity: 100%;} 
}

/*about*/
#about {
    display: flex;
    justify-content: space-around;
    padding: 1em;

    background-image: url("/res/waves.png");
    background-size: contain;
    background-position: center;
    animation: scroll 2s;
}
#container {
    display: inline-block;
}
#container h1 {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-shadow: 0 0 2px black, 0 0 5px white;
    border-right: 5px solid;
    animation: typing 1s steps(16), cursor .4s step-end infinite alternate;
}
@keyframes cursor {
    50% {border-color: transparent}
}
@keyframes typing {
    from {width: 0}
}
@keyframes scroll {
    from {margin-left: -10%}
    to {margin-left: 0}
}

/*social*/
#social {
    padding: 0.5em;
    display: flex;
    justify-content: space-evenly;
    gap: 1em;
    background-image: linear-gradient(45deg, rgba(0, 0, 0, 0) 0%, rgba(100, 100, 100, 1) 50%, rgba(0, 0, 0, 0) 100%)
}
#social a {
    animation: scroll-right 2s;
}
#social img {
    width: 4em;
}

@keyframes scroll-right {
    from {margin-right: -10%}
    to {margin-right: 0}
}

/*projects*/
#projects {
    animation: scroll-bottom 2s;
    background-image: url("/res/brushes.png");
    background-size: contain;
    background-position: center;
}
#projects-title {
    margin: 0;
    margin-left: 1em;
    padding-top: 0.5em;
}
.proj {
    padding: 1em;
    display: flex;
    flex-wrap: wrap;
    gap: 0.5em;
    
}
.proj h1 {
    font-size: 1.5em;
    text-align: center;
    margin: 0;
}
.proj-details {
    flex-basis: 60%;
    flex-grow: 1;
}
.proj-img {
    flex-basis: 35%;
    flex-grow: 1;
}
.proj-img img{
    height: auto;
    width: 100%;
}
.proj-img a {
    text-decoration: none;
    color: white;
}
@keyframes scroll-bottom {
    from {margin-top: 10%}
    to {margin-top: 0}
}
@media screen and (max-width: 1000px) {
    .proj-details {
        flex-basis: 100%;
    }
    .proj-img {
        flex-basis: 100%;
    }
}