/*generic*/
body {
    color: white;
    background: rgb(25, 25, 25) fixed;
    font-size: calc(1vw + 0.5vh);
    font-family: "Lucida Console", "Courier New", monospace;
}
ul {
    list-style: none;
}
.title {
    margin: 0;
    padding: 0;
    border-top-style: dashed;
    border-bottom-style: dashed;
    border-color: black;
}
.title h1 {
    margin: 0;
    padding-top: calc(1vw + 1vh);
    padding-bottom: calc(1vw + 1vh);
    text-align: center;
    font-size: 3em;
}

/*navigation*/
nav {
    position: fixed;
    width: 100vw;
    top: 0;
    left: 0;
}
#nav-list {
    display: flex;
    gap: 5em;
    background-color: black;
    margin: 0;
    padding: 0;
}
#nav-list li {
    min-width: 0;
}
#nav-list a {
    position: relative;
    color: grey;
    text-decoration: none;
}
#nav-list a:after{
    content: "";
    position: absolute;
    background-color: white;
    height: 3px;
    width: 0;
    left: 0px;
    bottom: -5px;
}
#nav-list a:hover:after{
    width: 100%;
    transition: 0.3s;
}
#nav-list a:hover{
    color: white;
}
#logo {
    margin-left: 1em;
}

/*about*/
#about {
    margin-top: calc(2.5vw + 2.5vh);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5vw;
}
#about-greeting {
    display: flex;
    padding-bottom: 0;
    padding-top: 0;
}
#about-hi {
    font-size: 7em;
    margin-bottom: 1vh;
}
#about-name {
    font-size: 4em;
    margin-left: 10vw;
}
#about-stack {
    display: flex;
    justify-content: center;
    gap: 3vw;
    margin-bottom: 1vh;
}
#about-stack h1 {
    font-size: 0.75em;
}
#about-stack img {
    height: auto;
    width: calc(3vw + 3vh);
}

/*projects*/
#projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.projects-left {
    flex-basis: 50vw;
    flex-grow: 1;
    padding-left: 2vw;
}
.projects-left h1 {
    text-decoration: underline;
    text-decoration-color: white;
}
.projects-left p {
    font-size: 1.25em;
    color: rgb(200, 200, 200);
    border-style: solid;
    border-radius: 25px;
    border-color: white;
    padding: calc(2vh + 2vw);
    margin-top: 4vw;
}
.projects-right {
    flex-grow: 1;
    flex-basis: 45vw;
}
.projects-right h1 {
    text-align: center;
}
.projects-right img {
    height: auto;
    display: block;
    margin: auto;
    width: 90%;
}

/*contact*/
#contact {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}