/*generic*/
body {
    background: rgb(25, 25, 25) fixed;
    color: white;
    font-size: calc(1vw + 0.5vh + 0.75rem);
    font-family: "Inter Tight", sans-serif;
    margin: 0;
    animation-name: fadeIn;
    animation-duration: 2s;
}
@keyframes fadeIn {
    from {opacity: 25%;}
    to {opacity: 100%;} 
}

/*about*/
#about {
    display: flex;
    justify-content: space-around;
    padding: 1em;

    background-image: url("/res/waves.png");
    background-size: contain;
    background-position: center;
    animation: scroll 2s;
}
#about h1 {
    text-shadow: 0 0 2px black, 0 0 5px white;
}
@keyframes scroll {
    from {margin-left: -10%}
    to {margin-left: 0}
}

/*social*/
#social {
    padding: 1em;
    display: flex;
    justify-content: space-evenly;
    gap: 1em;
    background-image: linear-gradient(rgba(0, 0, 0, 0) 0%, rgba(50, 50, 50, 0.5) 25%, rgba(100, 100, 100, 0.5) 85%, rgba(0, 0, 0, 0) 100%);
}
#social a {
    animation: scroll-right 2s;
}
#social img {
    width: 4em;
}
@keyframes scroll-right {
    from {margin-right: -10%}
    to {margin-right: 0}
}

/*projects*/
#projects {
    display: flex;
    animation: scroll-bottom 2s;
    background-image: url("/res/brushes.png");
    background-size: contain;
    background-position: center;
}
#projects h1 {
    margin: 0;
    margin-left: 1em;
}
@keyframes scroll-bottom {
    from {margin-top: 10%}
    to {margin-top: 0}
}
